//Font-family

//Font-weight
$regular-weight: 400;
$semiBold-weight: 600;
$bold-weight: 700;
$black-weight: 900;
//Font-size
$defaultFontSize: 16;

//Colors
$black: #000000;
$white: #ffffff;
$blue: #1FB0C7;
$green: #8AAC4D;
$light-green:rgb(177, 226, 99);
