//Font-family
$seymour:'Seymour One', sans-serif;

//Font-size
$defaultFontSize: 16;

//Colors
$black: #000000;
$white: #ffffff;
$blue: #00afc7;
$dark-blue: #0b4546;
$green: #52b859;
$light-green:#c6db4b;
